header{
    position: relative;
}
.header {
    background-color: var(--fundoAzul);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 100px 20px;
    gap: 50px;
    width: 100%;
    position: absolute;
}

#input-buscar{
    border: none;
    width: 240px;
    height: 45px;
    border-radius: 30px;
    padding: 10.5px 145px 10.5px 30px;
    background-color: #4e5060;
    color: var(--branco);
    font-size: 15px;
    transition: 0.3s ease;
    
    background-image: url("../img/icones/lupa.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 200px center;

}

#input-buscar::placeholder{
    color: #FFFFFF95;
    font-size: 15px;
}

#input-buscar:focus {
    outline: none;
    /* border-color: var(--vinho); */
    box-shadow: 0 0 10px #D90B4F85;
}


#menu-img{
    width: 33px;
}

/*========== */
nav{
    box-shadow: 7px 7px #00000045;
    border-radius: 0 30px 30px 0;
    position: fixed;
    background-color: var(--fundoAzul);
    height: 100vh;  
    width: 230px;  
}


nav h1{
    padding-top: 25px;
    font-size: 17px;
    color: var(--branco);
}

nav h3{
    font-size: 15px;
    color: var(--branco);
    margin-top: 30px ;
}

nav a{
    padding: 7px 0 5px 0;
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: var(--branco);
    font-size: 12px;
}

nav img{
    height: 19px;
    padding-right: 5px;
}

.topo{
    /* position: relative; */
    padding: 0 73px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 73px;
}
/*==============FIM NAV VERTICAL=========*/

.Página{
    background-color: var(--fundoAzul);
    margin-left: 230px;
    padding: 100px 40px 40px;
    min-height: 100vh;
}

.voltar {
    width: 213px;
    height: 60px;
    background-color: var(--destaque);
    color: var(--branco);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 40px;
}

.voltar:hover {
    background-color: #e51a5a;
    text-decoration: underline;
}



.estrofe {
font-size: 18px;
margin-bottom: 20px;
color: var(--branco);
}

/* Imagem da música */
.Foto-Titulo img {

    max-width: 100%;
    height: auto;
}

/* Parte da foto + título */
.Foto-Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Foto-Titulo h1 {
    font-size: 28px;
    margin-top: 10px;
    color: var(--branco);
}

.Foto-Titulo h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 100px;
    color: var(--branco);
}

.Letra {
    max-width: 700px;
}